.serviceBox {
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 40px;
  row-gap: 10px;
  box-shadow: var(--box-shadow-params);
  border-radius: 25px;
  background-color: var(--container-color);
}

.viewMoreButton {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--title-color);
  cursor: pointer;
}

.buttonIcon {
  transition: 0.3s;
}

.viewMoreButton:hover .buttonIcon {
  transform: translateX(0.5rem);
}

.titleIcon {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.boxTitle {
  font-size: var(--h3-font-size);
}

@media screen and (max-width: 992px) {
  .serviceBox {
    width: 300px;
    height: 250px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }
}
