.servicesSection {
  padding-top: 130px;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.services {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 30px;
}

.serviceModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: var(--z-modal);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.activeModal {
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .servicesSection {
    padding-top: 100px;
  }
}
