.aboutBox {
  width: 150px;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow-params);
  border-radius: 30px;
  background-color: var(--container-color);
}

.iconImg,
.boxTitle {
  font-size: var(--h3-font-size);
}

.boxText {
  font-size: var(--small-font-size);
}

@media screen and (max-width: 1250px) {
  .iconImg,
  .boxTitle {
    font-size: var(--normal-font-size);
  }
  .aboutBox {
    width: 120px;
    height: 96px;
  }
}

@media screen and (max-width: 768px) {
  .iconImg,
  .boxTitle {
    font-size: var(--normal-font-size);
  }
  .aboutBox {
    width: 120px;
    height: 96px;
  }
}
