.qualificationSection {
  padding-top: 140px;
}
.sectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.qualificationType {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  min-width: 90%;
  min-height: 80px;
}

.timeline {
  display: flex;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: var(--bullet-color);
  top: 1.71rem;
  bottom: -1.71rem;
  left: calc(50% - 0.5px);
}

.timelineBarLength::after {
  bottom: 5.65rem;
}

.container {
  width: 100%;
  padding: 0 25px;
}

.dot {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--bullet-color);
  border: 2px solid var(--bullet-color);
  border-radius: 50%;
  z-index: var(--z-tooltip);
}

.right,
.left {
  display: flex;
  flex-direction: column;
  gap: 125px;
  position: relative;
}

.left {
  align-items: flex-end;
}

.right {
  top: 125px;
}

.dot1,
.dot2 {
  top: 1.6rem;
}

.dot3,
.dot4 {
  top: 17.25rem;
}

.dot5,
.dot6 {
  top: 32.9rem;
}

.dot1,
.dot3,
.dot5 {
  left: calc(100% - 10px);
}

.dot2,
.dot4,
.dot6 {
  right: calc(100% - 10px);
}

@media screen and (max-width: 992px) {
  .timeline::after {
    bottom: -2.7rem;
  }
  .timelineBarLength::after {
    bottom: 5rem;
  }
}
@media screen and (max-width: 646px) {
  .dot {
    width: 15px;
    height: 15px;
  }

  .right,
  .left {
    gap: 83px;
  }

  .right {
    top: 83px;
  }

  .dot1,
  .dot2 {
    top: 1.35rem;
  }

  .dot3,
  .dot4 {
    top: 13.45rem;
  }

  .dot5,
  .dot6 {
    top: 25.45rem;
  }

  .dot1,
  .dot3,
  .dot5 {
    left: calc(100% - 7.5px);
  }

  .dot2,
  .dot4,
  .dot6 {
    right: calc(100% - 7.5px);
  }
  .timeline::after {
    bottom: -1.2rem;
  }
  .timelineBarLength::after {
    bottom: 5rem;
  }
}
@media screen and (max-width: 611px) {
  .timeline::after {
    bottom: -1rem;
  }
  .timelineBarLength::after {
    bottom: 5rem;
  }
}

@media screen and (max-width: 595px) {
  .timelineBarLength::after {
    bottom: 5rem;
  }
  .qualificationType {
    flex-direction: column;
    min-height: 200px;
  }
}
