.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 130px;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.areaBoxes {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 30px;
}

@media screen and (max-width: 768px) {
  .areaBoxes {
    width: 80%;
  }
}
