.contactSection {
  padding-top: 100px;
  margin: 50px 0 80px;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.sectionContent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 10%;
  margin: 0 30px;
}
.contactButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  width: 320px;
}
.formItem {
  position: relative;
  margin-bottom: var(--mb-2);
  width: 100%;
}
.contactFormInput {
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: none;
  color: var(--text-color);
  outline: none;
  border-radius: 0.75rem;
  padding: 1.5rem;
  z-index: 1;
  transition: 0.3s;
}
.formItem > input:focus,
.formItem > textarea:focus {
  border: 2px solid var(--title-color);
}

.contactFormTag {
  position: absolute;
  top: -0.75rem;
  left: 1.25rem;
  font-size: var(--smaller-font-size);
  padding: 0.25rem;
  background-color: var(--body-color);
  z-index: var(--z-tooltip);
}

.contactFormArea textarea {
  height: 250px;
  resize: none;
}

.formButton {
  align-self: flex-start;
  display: flex;
  gap: 10px;
  align-items: center;
}

.navIcon {
  font-size: larger;
  padding-left: 0.2rem;
}

.rotateIcon {
  transform: rotate(-45deg) !important;
}

@media screen and (max-width: 992px) {
  .contactForm {
    width: 318px;
  }
}

@media screen and (max-width: 768px) {
  .contactSection {
    padding-top: 100px;
    margin: 0 0 80px;
  }
  .contactButtons {
    margin-bottom: 80px;
  }
  .formButton {
    align-self: center;
  }
  .contactForm {
    width: 400px;
  }
}

@media screen and (max-width: 516px) {
  .contactForm {
    width: 300px;
  }
}

@media screen and (max-width: 350px) {
  .contactFormInput {
    width: 90%;
    margin-left: 5%;
  }
  .contactFormTag {
    margin-left: 5%;
  }
}
