.nav__bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  column-gap: 1rem;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  height: calc(var(--header-height) + 1.5rem);
  padding-left: var(--mb-2);
  padding-right: var(--mb-2);
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.scrollNavBar {
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.15);
}

.nav__logo,
.nav__toogle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__list {
  display: flex;
  column-gap: 1rem;
  padding-right: 20px;
}

.nav__close,
.nav__toogle {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav__bar {
    height: var(--header-height);
  }
  .nav__menu {
    position: fixed;
    top: -100%;
    right: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 0rem 4rem;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }

  /*Show Menu*/
  .show__menu {
    top: 0;
  }

  .show__menu .nav__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-right: 0;
    text-align: center;
  }

  .nav__close {
    position: absolute;
    right: 1.33rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--title-color);
  }

  .nav__close:hover {
    color: var(--title-color-dark);
  }

  .nav__close,
  .nav__toogle {
    display: block;
    padding-right: 10px;
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }
}
