.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--normal-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__icon {
  display: none;
}

.nav__link:hover {
  color: var(--title-color-dark);
}

@media screen and (max-width: 768px) {
  .nav__icon {
    display: block;
    font-size: 1.2rem;
  }
}
