.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.bulletIcon {
  position: relative;
  align-self: flex-start;
  top: 0.1rem;
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
}
.bulletText {
  text-align: start;
}

@media screen and (max-width: 992px) {
  .bulletIcon {
    top: 0.1rem;
  }
}

@media screen and (max-width: 460px) {
  .bulletText {
    font-size: var(--small-font-size);
  }
}
